#myButton {
    padding: 100px 100px;
    font-size: 30px;
    background-color:gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center
    ;
    
  }
  
  #myButton:hover {
    transform: rotate(45deg);
    background-color:gray; 
    color: white;
  }